*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .boli1 {
    background: green;
    width: 50px;
    height: 50px;
    animation: one 10s;
    animation-delay: 4s;
    border-radius: 30px;
  }

  .boli2 {
    background: yellow;
    width: 50px;
    height: 50px;
    animation: two 10s;
    animation-delay: 4s;
    border-radius: 30px;
  }

  .boli3 {
    background: green;
    width: 50px;
    height: 50px;
    animation: three 10s;
    animation-delay: 4s;
    border-radius: 30px;
  }

  .boli4 {
    background: green;
    width: 50px;
    height: 50px;
    animation: four 10s;
    animation-delay: 4s;
    border-radius: 30px;
}

.boli5 {
    background: yellow;
    width: 50px;
    height: 50px;
    animation: five 10s;
    animation-delay: 4s;
    border-radius: 30px;
  }

  @keyframes one {
    0%{width: 10px; height: 10px;}
    10%{width: 20px; height: 20px;}
    30%{width: 50px; height: 50px;}
    40%{width: 100px; height: 50px;}
    70%{transform: translateX(-300px);}
    80%{width: 50px; height: 200px;transform: translateX(-70px);}
    100%{width: 50px; height: 200px;transform: translateX(-70px);}
  }
  @keyframes two {
    0%{width: 10px; height: 10px;}
    10%{width: 20px; height: 20px;}
    30%{width: 50px; height: 50px;}
    40%{width: 100px; height: 50px;}
    70%{transform: translateX(-200px);}
    80%{width: 100px; height: 50px;transform: translateX(-85px);;position: relative;}
    100%{width: 100px; height: 50px;transform: translateX(-85px);;position: relative;}
  }

  @keyframes three {
    0%{width: 10px; height: 10px;}
    10%{width: 20px; height: 20px;}
    30%{width: 50px; height: 50px;}
    40%{width: 100px; height: 50px;}
    70%{transform: translateX(20px);}
    80%{width: 50px; height: 200px;transform: translateX(-80px);}
    100%{width: 50px; height: 200px;transform: translateX(-80px);}
  }

  @keyframes four {
    0%{width: 10px; height: 10px;}
    10%{width: 20px; height: 20px;}
    30%{width: 50px; height: 50px;}
    40%{width: 100px; height: 50px;}
    70%{transform: translateX(120px);}
    80%{width: 50px; height: 140px;transform: translateY(30px); position: relative;}
    100%{width: 50px; height: 140px;transform: translateY(30px); position: relative;}
  }

  @keyframes five {
    0%{width: 10px; height: 10px;}
    10%{width: 20px; height: 20px;}
    30%{width: 50px; height: 50px;}
    40%{width: 100px; height: 50px;}
    70%{transform: translateX(220px);}
    80%{width: 50px; height: 50px;transform: translateY(-80px); position: relative; left: -50px;}
    100%{width: 50px; height: 50px;transform: translateY(-80px); position: relative; left: -50px;}
  }


  /*from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
      transform: skew(-20deg)
  }*/ 